

/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: red;
}

/* Splash */

.splash {
  height: 100vh;
  position: relative;
  background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?cs=srgb&dl=apple-laptop-notebook-office-39284.jpg&fm=jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.splash i {
  font-size: 30px;
  background: red;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: whitesmoke;
  border-radius: 50%;
}

.page-title {
  color: black;
  font-size: 60px;
  margin: 48px 0 0 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.page-title::after {
  position: absolute;
  content: '';
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: red;
}

.page-subtitle {
  color: black;
  font-size: 18px;
  margin: 48px 0 0 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* Intro */

.intro {
  background: whitesmoke;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

/* About */

.about {
  background: #f0f0f0;
}